* {
  box-sizing: border-box;
  background-color: rgba(201, 209, 245, .664);
}

#header {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  color: black;
  font-weight: bold;
  padding: 1.250em;
}

#navLink {
  position: relative;
  display: inline;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  padding: .75em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 0.500em;
}
  
.price {
  list-style-type: none;
  border: 1px solid rgb(26, 2, 92);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
  
.price:hover {
  box-shadow: 0 8px 12px 0 rgb(0, 0, 0)
}
  
.price .header {
  background-color: rgb(20, 2, 85);
  color: white;
  font-size: 25px;
}
  
.price li {
  border-bottom: 1px solid rgb(8, 30, 230);
  padding: 20px;
  text-align: center;
}
  
.price .grey {
  background-color: rgb(137, 179, 235);
  font-size: 20px;
}
  
.button {
  background-color: #09035a;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

#footer {
  border-radius: 8%;
  display: flexbox;
  flex-direction: column;
  grid-column: 1 / 5;
  font-size: 100%;
  color: black;
  font-weight: bold;
  padding: 10px;
  display: wrap;
}

#copy {
  text-align: center;
}

.vet{
  position: relative;
  width: 10px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
