#container {
    display: grid;
    grid-template-columns: 250px auto auto 250px;
    gap: 20px;
    height: 100%;
}
#header {
    background-color: grey;
    border-radius: 3%;
    grid-column: 1 / 5;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
#sidebar {
    background-color: #404040;
    border-radius: 3%;
    grid-column: 1 / 2;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
#content {
    background-color: #404040;
    border-radius: 3%;
    grid-column: 2/ 4;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
#sidebar-2 {
    background-color: #a6a6a6;
    border-radius: 3%;
    grid-column: 4 / 5;
    font-size: 50px;
    color: #333333;
    padding: 20px;
}
#footer {
    background-color: grey;
    border-radius: 3%;
    grid-column: 1 / 5;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    #content {
        grid-column: 1 / 5;
    }
    #sidebar {
        grid-column: 1 / 5;
    }
    #sidebar-2 {
        grid-column: 1 / 5;
    }
}

@media only screen and (max-width: 1366px) {
    #content {
        grid-column: 2 / 5;
    }
    #sidebar-2 {
        grid-column: 1 / 5;
    }
}

