/* Create a website that contains the following:
A fixed horizontal navbar (meaning it is always on the top of the page, even if you scroll down).
A blog-style feed, where each blog post is in the center of the page, and as you scroll down the page, 
 it shows older blog posts. (Note: The blog posts' content can just be hard-coded, meaning it'll all just 
 be on a single page and you can just put filler text (lorem ipsum)).
Each blog post should have a title of some kind.
Each blog post should have the date it was "published".
Each blog post should have a photo of some kind near the top of the text, and the text should wrap around 
 the photo and have a reasonable margin between the photo and the wrapped text. */

.nav {
    position: fixed;
    width: 100%;
    background-color: rgb(9, 1, 54);
    top: 0;
}

.mainHeader {
    top: 50px;
    position: relative;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 22px;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.article {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    margin: 0 auto;
    width: 100%;
}

section {
    border: 8px solid rgb(53, 52, 52);
    border-radius: 10px;
    background-color: rgb(29, 29, 43);
    color: darkgrey;
}

img {
    height: 200px;
    width: 250px;
    margin: 20px;
    padding: 2;
    float: left;
}

.blogName {
    margin: 5px;
}

.blogDate {
    margin: 10px;
    color: darkgrey;
}

.blogPost {
    margin: 20px;
}