/* Make the html code easier to read by using semantic tags to identify the different parts of the website. *
Give your header a name and change the text to the color blue. *
Add a table to the main section of the website, with at least 3 headers (you can name them whatever you want), 
and two rows of data (you can include whatever data you want)
Style your table to have a black border.
Add any content you want to all of your sections.
Link to another .html page. This requires you to add another .html page (e.g. about.html), and use the “a” element 
to link it. * */

* {
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

header{
    color: blue;
}

table {
    border: 2px solid black;
}

th, td, tr {
    border: 1px solid grey;
    color:darkgreen
}

article {
    color: darkred;
}

aside {
    color: deeppink;
}

footer {
    color: rgb(0, 116, 116);
}